<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>42-webserv</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#" /></div>
      </div>
      <!-- end loader -->
      <div id="mySidepanel" class="sidepanel">
         <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
         <a href="#banner1">Home</a>
         <a href="#about">About</a>
         <a href="#team">Our Team</a>
         <a href="#functionalities">Mandatory Functionalities</a>
         <!-- <a href="#testimonial">Testimonial</a>
         <a href="#contact">Contact Us</a> -->
      </div>
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                    
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                         
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                     <div class="right_bottun">
                        <button class="openbtn" onclick="openNav()"><img src="images/menu_icon.png" alt="#"/> </button> 
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end header inner -->
      <!-- end header -->
      <!-- banner -->
      <section class="banner_main">
         <div id="banner1" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
               <li data-target="#banner1" data-slide-to="0" class="active"></li>
               <li data-target="#banner1" data-slide-to="1"></li>
               <li data-target="#banner1" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <div class="carousel-caption">
                        <div class="text-bg">
                           <h1>Webserv</h1>
                           <!-- <span>A HTTP server in C++ 98</span> -->
                          
                           <ul class="social_team">
                              <li><a href="https://github.com/vinifm/42_webserv" id="github"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
               
            </div>
            
            </a>
         </div>
      </section>
      <!-- end banner -->
      <!-- about section -->
      <div id="about" class="about">
         <div class="container">
            <div class="row ">
               <div class="col-md-5">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="titlepage">
                           <h2>About</h2>
                           <p> 
                              For this project we need to write our own HTTP server in C++ 98, comparing with NGINX. <br><br>
                           <a href="https://cdn.intra.42.fr/pdf/pdf/94779/en.subject.pdf" target="_blank" class="btn btn-danger">PDF</a>
                          </p>
                        </div>
                     </div>
                     <div class="col-md-12">
                        <div class="about_img">
                           <figure><img src="images/Nginx.png" alt="#"/></figure>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-7">
                  <div class="about_right">
                     <figure><img src="images/http.png" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- about section -->
      <!-- Our  team section -->
      <div id="team" class="team">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Our Team and Responsibilities</h2>
                     <p></p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <div class="team_box">
                     <figure><img src="images/team_img1.jpg" alt="#"/></figure>
                     <div class="social_box">
                        <ul class="social_team">
                           <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                        <h3>Lipi</h3>
                        <p>CGI</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="team_box">
                     <figure><img src="images/team_img2.jpg" alt="#"/></figure>
                     <div class="social_box">
                        <ul class="social_team">
                           <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                           <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                        <h3>Vini</h3>
                        <p>Parser/Configuration File</p>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="team_box">
                     <figure><img src="images/team_img3.jpg" alt="#"/></figure>
                     <div class="social_box">
                        <ul class="social_team">
                           <li><a href="https://www.linkedin.com/in/argelcapela"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                           <li><a href="https://www.instagram/argelcapela"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                        <h3>Argel</h3>
                        <p>Parse/Response/Frontend</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end Our  team section -->
     
      <!-- We Do section -->
      <div id="functionalities" class="we_do">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Mandatory Functionalities</h2>
                     <p></p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h3>HTTP METHODS(VERBS)</h3>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <div id="hover_color" class="we_box">
                     <span>1</span>
                     <h3>GET</h3>
                     <p>Get informations from server. This page is result of GET method.</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div id="hover_color" class="we_box">
                     <span>2</span>
                     <h3>POST</h3>
                     <p>Send data to Server. It can create or update a resource.</p><br><br>
                     <a href="/upload" class="btn btn-danger">TESTAR</a>
                  </div>
               </div>
               <div class="col-md-4">
                  <div id="hover_color" class="we_box">
                     <span>3</span>
                     <h3>DELETE</h3>
                     <p>Delete a resource in server. </p>
                     <br><br><br>
                     <a href="/delete" class="btn btn-danger">TESTAR</a>
                  </div>
               </div>
            </div><br><br>
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h3>OTHER</h3>
                  </div>
               </div>
            </div>
               <div class="row">
                  <div class="col-md-4">
                     <div id="hover_color" class="we_box">
                     <span>4</span>
                     <h3>AUTOINDEX</h3>
                     <p>The server list the files present in some directory.</p><br><br>
                     <a href="/autoindex" class="btn btn-danger">TESTAR</a>
                  </div>
               </div>
               <div class="col-md-4">
                  <div id="hover_color" class="we_box">
                     <span>5</span>
                     <h3>REDIRECTION</h3>
                     <p>When you call some route, the server redirects to other route or page.</p><br><br>
                     <a href="/redirection" class="btn btn-danger">TESTAR</a>
                  </div>
               </div>
               <div class="col-md-4">
                  <div id="hover_color" class="we_box">
                     <span>6</span>
                     <h3>CGI PYTHON</h3>
                     <p>Execute scripts in your server and print the result in client (browser). </p>
                     <br><br><br>
                     <a href="/cgi" class="btn btn-danger">TESTAR</a>
                  </div>
               </div>
            </div>
            <br><br>
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h3>HTTP STATUS RESPONSE</h3>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4">
                  <div id="hover_color" class="we_box">
                     <span>7</span>
                     <h3>404 Not Found</h3>
                     <p>This page is presented in browser when the URL you type don't correspond to any route, file or directory on server.</p>
                     <br><br><br>
                     <a href="/asdf" class="btn btn-danger">TESTAR</a>
                  </div>
               </div>

               <div class="col-md-4">
                  <div id="hover_color" class="we_box">
                     <span>8</span>
                     <h3>403 Forbidden</h3>
                     <p>It occurs when try to access one URL and don't have permission. (For example, try to access directory in some route and don't have autoindex allowed for that directory.)</p>
                     <br>
                     <a href="/forbidden" class="btn btn-danger">TESTAR</a>
                  </div>
               </div>

               
             
            </div>
         </div>
      </div>
      <!-- end We Do section -->
      
    
      <!-- end testimonial section -->
      <!--  footer -->
       <!-- Rodapé personalizado -->

    <footer class="footer mt-4 py-3 bg-dark text-white">
      <div class="container text-center">
          © 2023 <a target="_blank" href="https://github.com/vinifm/42_webserv">Webserv by vini, lipi e acapela-</a>, Todos os direitos reservados.<br>
          
      </div>
  </footer>



      <!-- end footer -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <script>
         function openNav() {
           document.getElementById("mySidepanel").style.width = "250px";
         }
         
         function closeNav() {
           document.getElementById("mySidepanel").style.width = "0";
         }
      </script>
      <script>
         // This example adds a marker to indicate the position of Bondi Beach in Sydney,
         // Australia.
         function initMap() {
           var map = new google.maps.Map(document.getElementById('map'), {
             zoom: 11,
             center: {lat: 40.645037, lng: -73.880224},
             });
         
         var image = 'images/maps-and-flags.png';
         var beachMarker = new google.maps.Marker({
             position: {lat: 40.645037, lng: -73.880224},
             map: map,
             icon: image
           });
         }
      </script>
      <!-- google map js -->
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap"></script>
      <!-- end google map js --> 
   </body>
</html>

